body {
    font-family: 'Roboto', sans-serif;
}

xmp {
    font-family: 'Inconsolata', monospace;
}

.miDiv {
    height: 50px;
    background-color: white;
}

.miDiv .container {
    background-color: black;
}

.miDiv .container .row {
    width: 25%;
    background-color: green;
}

.miDiv .container .row:nth-child(odd) {
    width: 25%;
    background-color: lightgreen;
}

.miDiv .container .column {
    width: 25%;
    background-color: lightblue;
}

.miDiv .container .column .miDiv {
    background: red;
}

.miDiv .container .column .miDiv:nth-child(odd) {
    background: yellow;
}

#justifies {
    height: auto;
}

#justifies .row {
    width: 100%;
}

#justifies .element {
    width: 20%;
    height: 50px;
    background-color: purple;
}

#miDiv1 {
    height: auto;
}

.anyDiv {
    height: 80px;
    background-color: green;
}
