/*
    INFORMACIÓN
	- Documento:      TrejoCode.CSS
	- Versión:        1.1.1
	- Licence:        MIT
	- Author:         TrejoCode
    - Actualización:  06/06/2018
*/


/* VARIABLES
   =============================
	1. = COLORS
	2. = FONTS
    3. = FONT WEIGHT
    4. = FONT FAMILY
	5. = PADDINGS
*/

:root {

    /*    COLORES    */

    --black:         #000000;
    --white:         #FFFFFF;

    /*    FONT SIZES    */

    --fontTiny:      0.9em;
    --fontSmall:     1em;
    --fontRegular:   1.2em;
    --fontMedium:    1.4em;
    --fontLarge:     1.6em;
    --fontHuge:      1.8em;

    /*    FONT WEIGHT    */

    --weightLight:   300;
    --weightRegular: 400;
    --weightMedium:  500;
    --weightSemi:    600;
    --weightBold:    700;

    /*    FONT FAMILIES    */

    /*    PADDINGS    */

    --paddingNormal: 8px;
    --paddingMedium: 16px;
    --paddingLarge: 32px;


}

/* RESET
   =============================
*/

* {
    padding: 0;
    margin: 0;
    transition: all 0.5s;
}

html {
  box-sizing: border-box;
}

button, input, select, textarea {
  margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

div, header, footer, section, article, aside, nav, form, table {
    width: 100%;
}

/* CLASES
   =============================
	1. = FLEX LAYOUT
	2. = ALIGNMENT
    3. = WHITE SPACES
*/

/*    FLEX LAYOUT    */

.flex {
    display: flex;
}

.flex div, .flex img {
    display: flex;
}

.container {
    width: 90%;
}

.responsive-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.row-responsive {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/*    ALIGNMENT    */

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-arround {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}


/*    WHITE SPACES    */

.white-space-8 {
    margin: 8px 0;
}

.white-space-16 {
    margin: 16px 0;
}

.white-space-32 {
    margin: 32px 0;
}

@media screen and (max-width: 768px) {

    .row-responsive {
        flex-direction: column;
    }

}
