/*
 * @version 1.1.0
 * @description Estilos del componente <Content>
*/

.content {

    width: 80%;
    min-height: 90vh;
    padding: $paddingLarge 0;
    background-color: var(--white);

    .heading-alert {
        padding: 1rem;
        text-align: justify;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        background-color: lightsalmon;
    }


    @media screen and (max-width: 1024px) {
        
        width: 100%;

        pre {
            overflow-x: scroll;
        }

    }

}