/*
 * @version 1.1.0
 * @description Estilos del componente Header
*/

header {

    height: 100px;
    background-color: var(--white);
    border-bottom: 1px solid #e9e9e9;

    .right {
        align-items: center;
        justify-content: flex-end;
    }

    nav {

        justify-content: flex-end;

        a { 
            padding: 0 $paddingMedium;
            transition: color 300ms ease-in-out;
            &:hover { color: var(--primary); }
        }   

    }

    .social {

        a {
            color: var(--primary-alt);
            padding: 0 $paddingNormal;
            transition: color 300ms ease-in-out;
            &:hover { color: var(--primary); }
        }

    }

    @media screen and (max-width: 992px) {

        .left { width: 20%; }

        .right  { width: 80%; }

        nav {

            a { 
                font-size: $fontText;
                padding: 0 $paddingNormal;
            }

        }
    
    }
    
    @media screen and (max-width: 768px) {

        .left {

            width: 100%;

            .logo {

                img { max-height: 60px; }

            }

        }

        nav { display: none; }

        .social a { font-size: $fontMedium; }

    }

}

html[data-theme='dark'] {
 
    header {
        border-bottom: 1px solid #383838;
    }

}