

/*  INFORMATION
   =============================
    
	- File:           trejocode.css
	- Versión:        1.1.3
	- Licence:        Mozilla Public Licence. 
	- Author:         TrejoCode
    - Update:         15/10/2018
    - Client:         None

*/


/* PROPERTIES
   =============================

	1. = COLORS
	2. = FONT FAMILY
    3. = FONT SIZE
    4. = FONT WEIGHT
	5. = PADDINGS
    6. = BORDERS

*/


:root {

    /*    COLORS    */


    --white:        #FFFFFF;    
    --black:        #000000;


    /*    FONT FAMILIES    */
    
    --Roboto:   'Roboto', sans-serif;
    

   
    /*    FONT SIZES    */


    --fontMini:      0.8em;
    --fontTiny:      0.9em;
    --fontText:      0.93em;
    --fontSmall:     1em;
    --fontRegular:   1.2em;
    --fontMedium:    1.4em;
    --fontLarge:     1.6em;
    --fontHuge:      1.8em;


    /*    FONT WEIGHTS 

        - Based on 'Roboto'

    */
    
    --weightRegular: 400;
    --weightMedium:  500;
    --weightBold:    700;
    --weightBlack:   900;

    
    /*    PADDINGS, MARGINS

        This properties also applies for 'Margins'

    */

    --paddingNormal: 8px;
    --paddingMedium: 16px;
    --paddingSemi: 24px;
    --paddingLarge: 32px;
    --paddingHuge: 48px;

}


/* RESET
   =============================

   - These properties able the cross compatibility for browsers and removes default properties from browsers.

*/

* {
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    font-family: var(--Roboto);
}

html {
  box-sizing: border-box;  
}

body {    
    overflow-x: hidden;
    background-color: var(--white);
}

input, label, select, button, textarea {
    margin:0;
	border:0;
    padding:0;
    line-height:1;
    background:none;
    white-space:normal;
	display:inline-block;
    vertical-align:middle;	
    -webkit-appearance: none;
    font-family: var(--Rubik);
}

input:focus, select:focus {
    outline: none;
}

div, header, footer, section, article, aside, nav, form, table {
    width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

h1 {
    font-size: var(--fontHuge);
    font-weight: var(--weightBold);
}

h2 {
    font-size: var(--fontLarge);
    font-weight: var(--weightBold);
}

h3 {
    font-size: var(--fontMedium);
    font-weight: var(--weightBold);
}

h4 {
    font-size: var(--fontRegular);
    font-weight: var(--weightMedium);
}

h5 {
    font-size: var(--fontText);
    font-weight: var(--weightMedium);
}

h6 {
    font-size: var(--fontMedium);
    font-weight: var(--weightRegular);
}

p {
    font-size: var(--fontText);
    color: var(--darkGray);
    line-height: 24px;
}


/* CLASES
   =============================

	1. = FLEX LAYOUT
	2. = ALIGNMENT
    3. = WHITE SPACES
    4. = FORMS
    5. = BUTTONS
    6. = DECORATORS & COLORS

*/



/*    FLEX LAYOUT

    - This stylesheet is based on flexbox.
    - W3 CSS Flexible Box Layout Module:
       https://www.w3.org/TR/css-flexbox-1
    
*/

.flex {
    display: flex;
}

.flex div, .flex img, .flex nav {
    display: flex;
}

.container {
    width: 90%;
}

.responsive-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.row-responsive {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.auto {
    width: auto;    
}


/*    ALIGNMENT    */


.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-arround {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}


/*    TEXT ALIGNMENT    */


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;;
}

.text-right {
    text-align: right;
}


/*    WHITE SPACES    */


.white-space-8 {
    height: 8px;
}

.white-space-16 {
    height: 16px;
}

.white-space-24 {
    height: 24px;
}

.white-space-32 {
    height: 32px;
}

.white-space-48 {
    height: 48px;
}

.white-space-64 {
    height: 64px;
}


.hidden {
    display: none !important;
}

.uppercase {
    text-transform: uppercase;
}


/*    LARGE DEVICES    */

@media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
    }

}

/*    NOTEBOOKS, IPADS DEVICES    */

@media screen and (max-width: 992px) {
        
    

}

/*    TABLETS DEVICES    */

@media screen and (max-width: 768px) {    
    
    .row-responsive {
        flex-direction: column;
    }

    .white-space-64 {
        height: 32px;
    }    
    
}

/*    MOBILE DEVICES    */

@media screen and (max-width: 576px) {
    
    
}
