header {
    background-color: var(--white);
    padding: var(--paddingMedium) 0;
    border-bottom: 1px solid #e9e9e9; 
}

header .social a {
    padding: 0 var(--paddingMedium);
}

header .social a i {
    color: var(--blue);
}

header .social a i:hover {
    color: var(--green);
}

#miDiv {
    border: 1px solid gray;
    min-height: 100px;    
}

#miDiv .container {
    background: lightblue;
}

#miDiv .auto {
    background: lightblue;
}

.miDivRow {
    height: 100px;
}

.miDivRow .row:nth-child(1) {
    background: lightblue;    
}

.miDivRow .row:nth-child(2) {
    background: lightcoral;
}

.miDivcolumn div:nth-child(1) {
    height: 50px;
    background: lightblue;
}

.miDivcolumn div:nth-child(2) {
    height: 50px;
    background: lightcoral;
}

.miDivRowResponsive div:nth-child(1) {
    background: lightblue;
}

.miDivRowResponsive div:nth-child(2) {
    background: lightcoral;
}

#miDiv .wrap div {
    max-width: 100%; 
    width: 30%;   
    min-width: 33.3%;
    background: lightblue;
    border: 1px solid red;
}

.ws .white-space-8, .ws .white-space-16, .ws .white-space-24, .ws .white-space-32, .ws .white-space-48, .ws .white-space-64  {
    border: 1px solid rgb(255, 0, 0);
}

.ws {
    border: none;
} 

h1, h2, h3, h4 {
    color: #5e5959;
}

@media screen and (max-width: 768px) {
    .miDivRowResponsive div:nth-child(1) {
        height: 50px;
    }

    .miDivRowResponsive div:nth-child(2) {
        height: 50px;
    }
}

.row-js div {
    width: 25%;
    background: lightblue;
}

.column-js div {
    width: 25%;
    height: 50px;
    background: lightblue;
}

#miDiv .pl {
    width: 100%;
}